article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
    font-family: 'Georgia', serif;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

h2, h3 {
    text-align: center;
}

h2 {
    text-transform: uppercase;
    color: #003366;
}

b,
strong {
    font-weight: bold;
}

img {
    border: 0;
}

section {
    margin: 0;
    padding: 0;
}





/***********Classes***********/
.container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.week-grid {
    margin: 0 auto;
    width: 100%;
}

.summary {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 auto;
}

.icon {
    display: none;
}

.day {
    width: 97%; /*400px*/
    font-size: 1.5em;
    border: 1px solid black;
    margin: 5px 5px;
}

.day-summary {

}

.rightnow {
    width: 97.5%;
    margin: 5px 5px;
    font-size: 1.8em;
}

.rightnow-summary {

}

.rightnow-advice {
    display: none;
}

.group:before, .group:after {
    display: table;
    content: "";
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}





/***********Media queries***********/
@media all and (min-width:560px) {
    .rightnow {
        width: 98.2142857%;
    }

    .summary {
        float: left;
        width: 59.021428571%;
    }

    .icon {
        display: block;
        margin: auto;
        float:left;
        width: 40.978571429%;
        padding-bottom: 40.978571429%; 
    }

    .sunny {
        background: url('../images/sunny.png');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
    }

    .sunny-rightnow {
        background-position: 50%;
    }
}

@media all and (min-width:768px) {
    .rightnow {
        width: 98.6979167%; /*5px margin*/
    }

    .day {
        float: left;
        width: 48.4375%;
    }

    .advice {
        display: block;
    }

    .day-summary {
        float: none;
        width: 100%;
    }

    .rightnow-summary {
        float: left;
        width: 50%;
        padding-top: 3%;
    }

    .icon {
        float: none;
        width: 60%;
        padding-bottom: 60%; 
    }

    .rightnow-icon {
        float: left;
        width: 50%;
        padding-bottom: 50%; 
    }

    .sunny {
        background-size: 80%;
        /*background-position: top, center;*/
    }

    .sunny-rightnow {
        background-size: 75%;
    }
}

@media all and (min-width:1280px) {
    /*Days*/
    .day {
        width: 19.0625%;
        font-size: 1em;
    }

    .rightnow {
        width: 99.21875%;
        font-size: 1.8em;
    }

    .rightnow-summary {
        padding-top:8%;
    }
}
