article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

h2, h3 {
    text-align: center;
}

h2 {
    text-transform: uppercase;
    color: #003366;
    font-family: "ff-tisa-web-pro", serif;
}

h3 {
    font-family: "myriad-pro", sans-serif;
    font-weight: normal;
}

b,
strong {
    font-weight: bold;
}

img {
    border: 0;
}

section {
    margin: 0;
    padding: 0;
}





/***********Classes***********/
.container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.week-grid {
    width: 100%;
}

.summary {
    width: 100%;
}

.icon {
    display: none;
}

.forecast {
    width: 97%; /*400px*/
    font-size: 1.8em;
    border: 1px solid black;
    margin: 5px 5px;
}

.rightnow {
    width: 97.5%;
    margin: 5px 5px;
    font-size: 2.5em;
}

.zero-box {
    margin: 0;
    padding: 0;
}

.small-box {
    margin: 10px 0;
    padding: 0;
}

.current-location {
    font-size: .5em;
}

.credit-line {
    width: 75%;
    margin: 20px auto;
    text-align: center;
}

.group:before, .group:after {
    display: table;
    content: "";
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}





/***********Media queries***********/
@media all and (min-width:560px) {
    .forecast {
        font-size: 2.0em;
    }

    .rightnow {
        width: 97.8571429%;
        font-size: 2.2em;
    }

    .summary {
        float: left;
        width: 59.021428571%;
    }

    .icon {
        display: block;
        margin: auto;
        float:left;
        width: 40.978571429%;
        padding-bottom: 40.978571429%; 
    }

    .sunny, .mostlysunny, .clear {
        background: url('../images/sunny.png') no-repeat center;
        background-size: 80%;
    }

    .mostlycloudy, .partlycloudy, .snow {
        background: url('../images/partly-cloudy.png') no-repeat center;
        background-size: 80%;
    }

    .cloudy, .hazy {
        background: url('../images/cloudy.png') no-repeat center;
        background-size: 80%;
    }

    .sunny-rightnow {
        background-position: 50%;
    }
}

@media all and (min-width:768px) {
    .rightnow {
        width: 98.6979167%; /*5px margin*/
        font-size: 3.0em;
    }

    .forecast {
        float: left;
        width: 48.4375%;
        font-size: 2.5em;
    }

    .summary-forecast {
        float: none;
        width: 100%;
    }

    .summary-rightnow {
        float: left;
        width: 65%;
    }

    .icon {
        float: none;
        width: 60%;
        padding-bottom: 60%; 
    }

    .icon-rightnow {
        float: left;
        width: 35%;
        padding-bottom: 35%; 
    }

    .sunny {
        background-size: 80%;
    }

    .sunny-rightnow {
        background-size: 70%;
    }
}

@media all and (min-width:1280px) {
    .forecast {
        width: 19.0625%;
        font-size: 1.5em;
    }

    .rightnow {
        width: 99.21875%;
        font-size: 3.0em;
    }
}
